body{
  font-family: 'Montserrat-Black';
}
#title {
  background-color: #ff4c68;
}
.h1{  font-family: 'Montserrat-Black', sans-serif;

font-size: 3.5rem;
font-weight: 900;
line-height: 1.5;
color: white;
padding-bottom: 20px;

     }


.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: 'ubuntu';
  font-weight: bold;
  font-size: 2.5rem;

}

.navbar{
  padding: 0 0 45px;
}
.nav-item{
  padding:10px 20px;
}
.nav-link{
  font-weight: bold;
}

.download{
  margin:5% 3% 5% 0;
}

.iphone-img{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  left: 15%;

}
h3{
  font-family: 'Montserrat-bold',sans-serif;
  font-weight: bolder;
  font-size: 1.6rem;

}
p{
  font-family: sans-serif;
  font-weight: bold;
  color: #8f8f8f;
}
#features{
  padding: 3% 15%;
  background-color: #fff;
  position: relative;
}
.feature-item{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

h2{
  color: #fff;
  font-family: 'Montserrat-Bold',sans-serif;
  font-weight: 900;
  font-size: 3rem;
  padding-bottom: 5%;

}
#testimonials{

  background-color: #ef8172;
  text-align: center;

}

.testimonial-images{
  border-radius: 100%;
  width: 20%;
}
.em1{
  margin-left: 2rem;
  color: #fff;
}
#press{
  background-color: #ef8172;
  text-align: center;
}
.press-logo{
  padding: 0 3% 3% 3%;
  width: 20%;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  text-align: center;
  padding: 100px;
}
.h2{
  font-family: 'Montserrat-black',sans-serif;

  font-weight: 800;
  font-size: 3rem;
  color: black;
}
.h3{
  font-family: 'Montserrat-black',sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: black;
}

@media (max-width:1028px){
  #title{
    text-align: center;
  }
  .iphone-img{
    position: static;
    transform: rotate(0);
  }

}
#cta{

  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}
.footer-h3{
  color: #fff;
  font-family: 'Montserrat-Black',sans-serif;
  font-weight: bolder;
  font-size: 4rem;
  line-height: 1.5;
}
#footer{
  padding: 5% 10%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}
.social-icon1:hover{
  color: red;
}
